* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 0.1fr 1fr;
  height: 100dvh;
  gap: 10px;
}

header {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
}

main {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.nala-image {
  height: 15rem;
}

.imgSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.formSection {
  height: 100px;
  width: 100%;
}

.messagesSection {
  border: 2px solid black;
  height: 40%;
  overflow: auto;
}

.formField {
  display: flex;
  flex-direction: column;
  width: 100%;
}
